In [1]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\oconn\OneDrive\Desktop\GIS\co2-emissions\data/co2_emissions_kt_by_country.csv")
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13953 entries, 0 to 13952
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  13953 non-null  object
 1   country_name  13953 non-null  object
 2   year          13953 non-null  int64
 3   value         13953 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 436.2+ KB

               year         value
count  13953.000000  1.395300e+04
mean    1990.732316  8.254983e+05
std       17.187585  2.788923e+06
min     1960.000000 -8.067400e+01
25%     1976.000000  1.100000e+03
50%     1992.000000  1.390000e+04
75%     2006.000000  1.642779e+05
max     2019.000000  3.434401e+07

In [12]:
df.head()

  country_code country_name  year      value
0          ABW        Aruba  1960  11092.675
1          ABW        Aruba  1961  11576.719
2          ABW        Aruba  1962  12713.489
3          ABW        Aruba  1963  12178.107
4          ABW        Aruba  1964  11840.743

In [13]:
df.isnull().sum()

country_code    0
country_name    0
year            0
value           0
dtype: int64

Exploratory Data Analysis

In [16]:
top_emitters = df.groupby('country_name')['value'].sum().sort_values(ascending=False).head(10)
print(top_emitters)

country_name
World                        1.317557e+09
High income                  6.672858e+08
IDA & IBRD total             6.667335e+08
OECD members                 6.537873e+08
IBRD only                    6.398760e+08
Low & middle income          6.390232e+08
Post-demographic dividend    6.369414e+08
Middle income                6.296777e+08
Upper middle income          4.823171e+08
Late-demographic dividend    4.673344e+08
Name: value, dtype: float64

In [17]:
unique_countries = df["country_name"].unique()
print(unique_countries)

['Aruba' 'Africa Eastern and Southern' 'Afghanistan'
 'Africa Western and Central' 'Angola' 'Albania' 'Andorra' 'Arab World'
 'United Arab Emirates' 'Argentina' 'Armenia' 'Antigua and Barbuda'
 'Australia' 'Austria' 'Azerbaijan' 'Burundi' 'Belgium' 'Benin'
 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain' 'Bahamas, The'
 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bermuda' 'Bolivia' 'Brazil'
 'Barbados' 'Brunei Darussalam' 'Bhutan' 'Botswana'
 'Central African Republic' 'Canada' 'Central Europe and the Baltics'
 'Switzerland' 'Chile' 'China' "Cote d'Ivoire" 'Cameroon'
 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros' 'Cabo Verde'
 'Costa Rica' 'Caribbean small states' 'Cuba' 'Curacao' 'Cayman Islands'
 'Cyprus' 'Czechia' 'Germany' 'Djibouti' 'Dominica' 'Denmark'
 'Dominican Republic' 'Algeria'
 'East Asia & Pacific (excluding high income)'
 'Early-demographic dividend' 'East Asia & Pacific'
 'Europe & Central Asia (excluding high income)' 'Europe & Central Asia'
 'Ecuador' 'Egypt, Arab Rep.' 'Euro area' 'Eritrea' 'Spain' 'Estonia'
 'Ethiopia' 'European Union' 'Fragile and conflict affected situations'
 'Finland' 'Fiji' 'France' 'Faroe Islands' 'Micronesia, Fed. Sts.' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea' 'Gambia, The'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'Guyana' 'High income' 'Hong Kong SAR, China' 'Honduras'
 'Heavily indebted poor countries (HIPC)' 'Croatia' 'Haiti' 'Hungary'
 'IBRD only' 'IDA & IBRD total' 'IDA total' 'IDA blend' 'Indonesia'
 'IDA only' 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq' 'Iceland'
 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya'
 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis'
 'Korea, Rep.' 'Kuwait'
 'Latin America & Caribbean (excluding high income)' 'Lao PDR' 'Lebanon'
 'Liberia' 'Libya' 'St. Lucia' 'Latin America & Caribbean'
 'Least developed countries: UN classification' 'Low income'
 'Liechtenstein' 'Sri Lanka' 'Lower middle income' 'Low & middle income'
 'Lesotho' 'Late-demographic dividend' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'Morocco' 'Moldova' 'Madagascar' 'Maldives'
 'Middle East & North Africa' 'Mexico' 'Marshall Islands' 'Middle income'
 'North Macedonia' 'Mali' 'Malta' 'Myanmar'
 'Middle East & North Africa (excluding high income)' 'Montenegro'
 'Mongolia' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi' 'Malaysia'
 'North America' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua'
 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand' 'OECD members'
 'Oman' 'Other small states' 'Pakistan' 'Panama' 'Peru' 'Philippines'
 'Palau' 'Papua New Guinea' 'Poland' 'Pre-demographic dividend'
 "Korea, Dem. People's Rep." 'Portugal' 'Paraguay' 'West Bank and Gaza'
 'Pacific island small states' 'Post-demographic dividend'
 'French Polynesia' 'Qatar' 'Romania' 'Russian Federation' 'Rwanda'
 'South Asia' 'Saudi Arabia' 'Sudan' 'Senegal' 'Singapore'
 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'Somalia' 'Serbia'
 'Sub-Saharan Africa (excluding high income)' 'South Sudan'
 'Sub-Saharan Africa' 'Small states' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad'
 'East Asia & Pacific (IDA & IBRD countries)'
 'Europe & Central Asia (IDA & IBRD countries)' 'Togo' 'Thailand'
 'Tajikistan' 'Turkmenistan'
 'Latin America & the Caribbean (IDA & IBRD countries)' 'Timor-Leste'
 'Middle East & North Africa (IDA & IBRD countries)' 'Tonga'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa (IDA & IBRD countries)'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkiye' 'Tuvalu' 'Tanzania'
 'Uganda' 'Ukraine' 'Upper middle income' 'Uruguay' 'United States'
 'Uzbekistan' 'St. Vincent and the Grenadines' 'Venezuela, RB'
 'British Virgin Islands' 'Vietnam' 'Vanuatu' 'World' 'Samoa' 'Kosovo'
 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

In [29]:
aggregates = [
    'Africa Eastern and Southern','Africa Western and Central','Arab World',
    'Central Europe and the Baltics','East Asia & Pacific (excluding high income)',
    'East Asia & Pacific','Europe & Central Asia (excluding high income)',
    'Europe & Central Asia','Euro area','European Union',
    'Fragile and conflict affected situations','High income',
    'Heavily indebted poor countries (HIPC)','IBRD only','IDA & IBRD total',
    'IDA total','IDA blend','IDA only',
    'Latin America & Caribbean (excluding high income)','Latin America & Caribbean',
    'Least developed countries: UN classification','Low income',
    'Lower middle income','Low & middle income','Middle income',
    'Middle East & North Africa','Middle East & North Africa (excluding high income)',
    'North America','OECD members','Other small states',
    'Pre-demographic dividend','Post-demographic dividend','South Asia',
    'Sub-Saharan Africa (excluding high income)','Sub-Saharan Africa',
    'Small states','East Asia & Pacific (IDA & IBRD countries)',
    'Europe & Central Asia (IDA & IBRD countries)',
    'Latin America & the Caribbean (IDA & IBRD countries)',
    'Middle East & North Africa (IDA & IBRD countries)','South Asia (IDA & IBRD)',
    'Sub-Saharan Africa (IDA & IBRD countries)','Upper middle income','World', 
    'Late-demographic dividend', 'Early-demographic dividend', 'Caribbean small states'
]

#~ = negates the condition (keeps rows not in aggregates)
#reset_index(drop=True) cleans up the row index

df_countries = df[~df['country_name'].isin(aggregates)]
df_countries = df_countries.reset_index(drop=True)
print(df_countries['country_name'].unique())

['Aruba' 'Afghanistan' 'Angola' 'Albania' 'Andorra' 'United Arab Emirates'
 'Argentina' 'Armenia' 'Antigua and Barbuda' 'Australia' 'Austria'
 'Azerbaijan' 'Burundi' 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh'
 'Bulgaria' 'Bahrain' 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus'
 'Belize' 'Bermuda' 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam'
 'Bhutan' 'Botswana' 'Central African Republic' 'Canada' 'Switzerland'
 'Chile' 'China' "Cote d'Ivoire" 'Cameroon' 'Congo, Dem. Rep.'
 'Congo, Rep.' 'Colombia' 'Comoros' 'Cabo Verde' 'Costa Rica' 'Cuba'
 'Curacao' 'Cayman Islands' 'Cyprus' 'Czechia' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador'
 'Egypt, Arab Rep.' 'Eritrea' 'Spain' 'Estonia' 'Ethiopia' 'Finland'
 'Fiji' 'France' 'Faroe Islands' 'Micronesia, Fed. Sts.' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea' 'Gambia, The'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'Guyana' 'Hong Kong SAR, China' 'Honduras' 'Croatia' 'Haiti'
 'Hungary' 'Indonesia' 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq'
 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan'
 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis'
 'Korea, Rep.' 'Kuwait' 'Lao PDR' 'Lebanon' 'Liberia' 'Libya' 'St. Lucia'
 'Liechtenstein' 'Sri Lanka' 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'Morocco' 'Moldova' 'Madagascar' 'Maldives' 'Mexico'
 'Marshall Islands' 'North Macedonia' 'Mali' 'Malta' 'Myanmar'
 'Montenegro' 'Mongolia' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi'
 'Malaysia' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua'
 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand' 'Oman' 'Pakistan'
 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea' 'Poland'
 "Korea, Dem. People's Rep." 'Portugal' 'Paraguay' 'West Bank and Gaza'
 'Pacific island small states' 'French Polynesia' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'Somalia'
 'Serbia' 'South Sudan' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkiye' 'Tuvalu' 'Tanzania' 'Uganda' 'Ukraine' 'Uruguay'
 'United States' 'Uzbekistan' 'St. Vincent and the Grenadines'
 'Venezuela, RB' 'British Virgin Islands' 'Vietnam' 'Vanuatu' 'Samoa'
 'Kosovo' 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

In [30]:
top_emitters = df_countries.groupby('country_name')['value'].sum().sort_values(ascending=False).head(10)
print(top_emitters)

country_name
United States         2.840366e+08
China                 2.159975e+08
Russian Federation    1.344118e+08
Japan                 5.726082e+07
India                 4.816875e+07
United Kingdom        3.278625e+07
Canada                2.609352e+07
Germany               2.436702e+07
France                2.296071e+07
Italy                 2.123551e+07
Name: value, dtype: float64

In [ ]:
low_emitters = df_countries.groupby('country_name')['value'].sum().sort_values(ascending=True).head(10)
print(low_emitters)

country_name
Tuvalu                        299.999996
Kiribati                     2120.060003
Sint Maarten (Dutch part)    2145.195000
Turks and Caicos Islands     3036.276000
Sao Tome and Principe        3257.740996
Marshall Islands             3570.000032
Micronesia, Fed. Sts.        3870.000001
Tonga                        4376.749982
Vanuatu                      4831.814979
Nauru                        4859.902991
Name: value, dtype: float64

In [32]:
df_pop = pd.read_csv(r"C:\Users\oconn\OneDrive\Desktop\GIS\co2-emissions\data/population_by_country_2020.csv")
df_pop.head()
df_pop.info()
df_pop.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

,Population (2020),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net)
count,2.350000e+02,2.350000e+02,235.000000,2.350000e+02,201.000000
mean,3.322744e+07,3.460878e+05,475.770213,5.535918e+05,6.283582
std,1.353034e+08,1.128260e+06,2331.285935,1.687796e+06,123291.887548
min,8.010000e+02,-3.838400e+05,0.000000,0.000000e+00,-653249.000000
25%,3.994905e+05,4.240000e+02,37.000000,2.545000e+03,-10047.000000
50%,5.460109e+06,3.917000e+04,95.000000,7.724000e+04,-852.000000
75%,2.067170e+07,2.496600e+05,239.500000,4.038200e+05,9741.000000
max,1.440298e+09,1.358663e+07,26337.000000,1.637687e+07,954806.000000

In [37]:
list_unique = df_countries['country_name'].unique()
print(list_unique)

['Aruba' 'Afghanistan' 'Angola' 'Albania' 'Andorra' 'United Arab Emirates'
 'Argentina' 'Armenia' 'Antigua and Barbuda' 'Australia' 'Austria'
 'Azerbaijan' 'Burundi' 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh'
 'Bulgaria' 'Bahrain' 'Bahamas, The' 'Bosnia and Herzegovina' 'Belarus'
 'Belize' 'Bermuda' 'Bolivia' 'Brazil' 'Barbados' 'Brunei Darussalam'
 'Bhutan' 'Botswana' 'Central African Republic' 'Canada' 'Switzerland'
 'Chile' 'China' "Cote d'Ivoire" 'Cameroon' 'Congo, Dem. Rep.'
 'Congo, Rep.' 'Colombia' 'Comoros' 'Cabo Verde' 'Costa Rica' 'Cuba'
 'Curacao' 'Cayman Islands' 'Cyprus' 'Czechia' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador'
 'Egypt, Arab Rep.' 'Eritrea' 'Spain' 'Estonia' 'Ethiopia' 'Finland'
 'Fiji' 'France' 'Faroe Islands' 'Micronesia, Fed. Sts.' 'Gabon'
 'United Kingdom' 'Georgia' 'Ghana' 'Gibraltar' 'Guinea' 'Gambia, The'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'Guyana' 'Hong Kong SAR, China' 'Honduras' 'Croatia' 'Haiti'
 'Hungary' 'Indonesia' 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq'
 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan'
 'Kenya' 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis'
 'Korea, Rep.' 'Kuwait' 'Lao PDR' 'Lebanon' 'Liberia' 'Libya' 'St. Lucia'
 'Liechtenstein' 'Sri Lanka' 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'Morocco' 'Moldova' 'Madagascar' 'Maldives' 'Mexico'
 'Marshall Islands' 'North Macedonia' 'Mali' 'Malta' 'Myanmar'
 'Montenegro' 'Mongolia' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi'
 'Malaysia' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua'
 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand' 'Oman' 'Pakistan'
 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea' 'Poland'
 "Korea, Dem. People's Rep." 'Portugal' 'Paraguay' 'West Bank and Gaza'
 'Pacific island small states' 'French Polynesia' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'Somalia'
 'Serbia' 'South Sudan' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkiye' 'Tuvalu' 'Tanzania' 'Uganda' 'Ukraine' 'Uruguay'
 'United States' 'Uzbekistan' 'St. Vincent and the Grenadines'
 'Venezuela, RB' 'British Virgin Islands' 'Vietnam' 'Vanuatu' 'Samoa'
 'Kosovo' 'Yemen, Rep.' 'South Africa' 'Zambia' 'Zimbabwe']

In [38]:
print(len(list_unique))

209

In [39]:
pop_unique = df_pop['Country (or dependency)'].unique()
print(len(pop_unique))

235

In [47]:
df_emissions_2020 = df_countries[df_countries["year"] == 2016]
merged = pd.merge(df_emissions_2020, df_pop, left_on=['country_name'], right_on=['Country (or dependency)'], how='left')
merged.head()

,country_code,country_name,year,value,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,ABW,Aruba,2016,883.747000,Aruba,106845.0,0.43 %,452.0,593.0,180.0,201.0,1.9,41,44 %,0.00 %
1,AFG,Afghanistan,2016,5300.000191,Afghanistan,39074280.0,2.33 %,886592.0,60.0,652860.0,-62920.0,4.6,18,25 %,0.50 %
2,AGO,Angola,2016,29760.000229,Angola,33032075.0,3.27 %,1040977.0,26.0,1246700.0,6413.0,5.6,17,67 %,0.42 %
3,ALB,Albania,2016,4480.000019,Albania,2877239.0,-0.11 %,-3120.0,105.0,27400.0,-14000.0,1.6,36,63 %,0.04 %
4,AND,Andorra,2016,469.999999,Andorra,77287.0,0.16 %,123.0,164.0,470.0,NaN,N.A.,N.A.,88 %,0.00 %

In [48]:
print(len(merged))
print(merged.isnull().sum())

207
country_code                0
country_name                0
year                        0
value                       0
Country (or dependency)    32
Population (2020)          32
Yearly Change              32
Net Change                 32
Density (P/Km²)            32
Land Area (Km²)            32
Migrants (net)             44
Fert. Rate                 32
Med. Age                   32
Urban Pop %                32
World Share                32
dtype: int64

Core Derived Metric: Emissions per Capita

In [49]:
merged['emissions_per_capita'] = merged['value'] / merged['Population (2020)']

Core Dervied Metric: Emissions per km2

In [51]:
merged['emissions_per_km2'] = merged['value'] / merged['Land Area (Km²)']